<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <title>CheckerBoard</title>
</head>
<style>
    .light{ background-color: {{color_one}};}
    .dark{ background-color: {{color_two}};}
</style>
<body>

    <h1>*** Checkerboard ***</h1>
    {% for x in range(row) %}
    <table>
        <tr>
            {% for x in range(col) %}
            <td class = "light square"></td>
            <td class = "dark square"></td>
            {% endfor %}
        </tr>
        <tr>
            {% for x in range(col) %}
            <td class = "dark square"></td>
            <td class = "light square"></td>
            {% endfor %}
        </tr>
    </table>
    {% endfor %}
</body>
</html>